In [91]:
import pandas as pd

## Lecture des dataFrames

In [92]:
cities = pd.read_csv("cities.csv")
tickets = pd.read_csv("ticket_data.csv")
providers = pd.read_csv("providers.csv")
stations = pd.read_csv("stations.csv")

## Exploitations des dataFrames

In [93]:
cities.head()

,id,local_name,unique_name,latitude,longitude,population
0,5159,"Padua, Veneto, Italia",padua,45.406435,11.876761,209678.0
1,76,"Barcelona, Cataluña, España",barcelona,41.385064,2.173404,1611822.0
2,81,"Basel, Basel-Stadt, Schweiz",basel,47.593437,7.619812,NaN
3,259,"Erlangen, Bayern, Deutschland",erlangen,49.589674,11.011961,105412.0
4,11979,"Balș, Olt, România",balș,44.353354,24.095672,NaN

In [94]:
cities.dtypes

id               int64
local_name      object
unique_name     object
latitude       float64
longitude      float64
population     float64
dtype: object

In [95]:
tickets.head()

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city
0,6795025,8385,NaN,NaN,2017-10-13 14:00:00+00,2017-10-13 20:10:00+00,4550,2017-10-01 00:13:31.327+00,NaN,NaN,611,542
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},611,542
2,6795027,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 21:24:00+00,7400,2017-10-01 00:13:40.212+00,"{798,798,6794,6246}","{8377,8376}",611,542
3,6795028,8377,5905.0,6495.0,2017-10-13 13:27:00+00,2017-10-14 11:02:00+00,13500,2017-10-01 00:13:40.213+00,"{798,798,6794,6246}","{8377,8376}",611,542
4,6795029,8381,5905.0,6495.0,2017-10-13 21:46:00+00,2017-10-14 19:32:00+00,7710,2017-10-01 00:13:40.213+00,"{5983,5983}",{8380},611,542

In [96]:
tickets.dtypes

id                   int64
company              int64
o_station          float64
d_station          float64
departure_ts        object
arrival_ts          object
price_in_cents       int64
search_ts           object
middle_stations     object
other_companies     object
o_city               int64
d_city               int64
dtype: object

In [97]:
providers.head()

,id,company_id,provider_id,name,fullname,has_wifi,has_plug,has_adjustable_seats,has_bicycle,transport_type
0,9,1,NaN,ouibus,Ouibus,True,True,True,False,bus
1,10,2,NaN,deinbus,Deinbus.de,False,False,False,False,bus
2,11,3,NaN,infobus,Infobus,False,False,False,False,bus
3,12,4,NaN,studentAgency,Student Agency,False,False,False,False,bus
4,13,5,NaN,flixbus,Flixbus,True,False,False,False,bus

In [98]:
providers.dtypes

id                       int64
company_id               int64
provider_id             object
name                    object
fullname                object
has_wifi                object
has_plug                object
has_adjustable_seats    object
has_bicycle             object
transport_type          object
dtype: object

In [99]:
stations.head()

   id                     unique_name   latitude  longitude
0   1      Aalen (Stuttgarter Straße)  48.835296  10.092956
1   2      Aéroport Bordeaux-Mérignac  44.830226  -0.700883
2   3                   Aéroport CDG   49.009900   2.559310
3   4  Aéroport de Berlin-Schönefeld   52.389446  13.520345
4   5             Aéroport de Dresden  51.123604  13.764737

In [100]:
stations.dtypes

id               int64
unique_name     object
latitude       float64
longitude      float64
dtype: object

In [101]:
# Verification si il y'a des valeurs inconnu dans notre Serie

prices = tickets["price_in_cents"]

price_null = pd.isnull(prices)
price_is_null = prices[price_null]
print price_is_null

Series([], Name: price_in_cents, dtype: int64)

## Extraction des informations (max,min, moyenne)

In [102]:
max_price = prices.max()
print ("Le prix maximaum d'un trajet : ",max_price)

min_price = prices.min()
print("Le prix minimaum d'un trajet :",min_price)

mean_prices = prices.mean()
print("La moyenne des prix ",mean_prices)

("Le prix maximaum d'un trajet : ", 38550)
("Le prix minimaum d'un trajet :", 300)
('La moyenne des prix ', 4382.711061374178)

In [103]:
#Pour avoir une idée pour les noms des columns
tickets.columns

Index([u'id', u'company', u'o_station', u'd_station', u'departure_ts',
       u'arrival_ts', u'price_in_cents', u'search_ts', u'middle_stations',
       u'other_companies', u'o_city', u'd_city'],
      dtype='object')

### Le calcule de la durée pour chaque trajet en minutes

In [104]:
import numpy as np

dprt = tickets["departure_ts"]
arv = tickets["arrival_ts"]

t1 = pd.to_datetime(dprt)
t2 = pd.to_datetime(arv)

deff = t2-t1
traject_duration_min = deff /np.timedelta64(1,'s')/60

tickets["duration"] = traject_duration_min

min_duration = traject_duration_min.min()
print ("Duree minimale d'un projet :",min_duration)

max_duration = traject_duration_min.max()
print ("Duree maximale d'un trajet :",max_duration)

mean_duration = traject_duration_min.mean()
print ("La moyenne des trajert",mean_duration)

("Duree minimale d'un projet :", 20.0)
("Duree maximale d'un trajet :", 29571.0)
('La moyenne des trajert', 424.6207933340524)

## L'ajout des coordonnées des stations de départs et d'arrivées au dataFrame ticket_data

In [105]:
colums_needed = stations.loc[:,["id","latitude","longitude"]] # récuperation des columns dont j'ai besion pour les coordonnées des stations de départ

merg_o = pd.merge(tickets,colums_needed,left_on = "o_station",right_on = "id",indicator = True) # faire le merge (dèpart)
rename_col_o = merg_o.rename(columns={"latitude":"o_latitude", "longitude":"o_longitude"}) #renommer les columns

merg_d = pd.merge(rename_col_o,colums_needed,left_on = "d_station",right_on = "id") # faire le merge (arriver)
rename_col_d = merg_d.rename(columns={"latitude":"d_latitude", "longitude":"d_longitude"})# renommer les columns

## Calcule des distances  en utilisant la library geopy

In [106]:
from geopy.distance import vincenty

def distance_calc (row):
    start = (row['o_latitude'], row['d_longitude'])
    stop = (row['d_latitude'], row['d_longitude'])

    return vincenty(start, stop).km # La fonction pour calculer les distances en KM

rename_col_d['distance'] = rename_col_d.apply (lambda row: distance_calc (row),axis=1) #appliquer la fonction sur le dataframe

C:\ProgramData\Anaconda2\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: Vincenty is deprecated and is going to be removed in geopy 2.0. Use `geopy.distance.geodesic` (or the default `geopy.distance.distance`) instead, which is more accurate and always converges.
  import sys

## Création des labels pour les distances

In [107]:
def which_label(row):
    distance = row['distance']
    
    if distance <= 200:
        return "0-200"
    elif distance >= 201 and distance <= 800:
        return "201-800"
    elif distance >= 801 and distance <= 2000:
        return "801-2000"
    elif pd.isnull(distance):
        return "Unknown"
    else:
        "+2000"

In [108]:
labels = rename_col_d.apply(which_label, axis = 1)

rename_col_d["dis_label"] = labels
rename_col_d.head()

,id_x,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,...,duration,id_y,o_latitude,o_longitude,_merge,id,d_latitude,d_longitude,distance,dis_label
0,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,1070.0,63,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800
1,6797848,13,767.0,1044.0,2017-10-06 10:05:00+00,2017-10-07 06:55:00+00,1850,2017-10-02 09:14:47.994+00,"{418,418}",{13},...,1250.0,767,48.727660,2.264629,both,1044,43.583932,3.860233,571.747680,201-800
2,6799519,13,767.0,1044.0,2017-10-06 10:05:00+00,2017-10-07 06:55:00+00,1850,2017-10-02 17:53:20.699+00,"{418,418}",{13},...,1250.0,767,48.727660,2.264629,both,1044,43.583932,3.860233,571.747680,201-800
3,6845985,13,767.0,1044.0,2017-12-22 07:40:00+00,2017-12-23 06:55:00+00,4680,2017-10-14 07:11:28.562+00,"{433,433}",{13},...,1395.0,767,48.727660,2.264629,both,1044,43.583932,3.860233,571.747680,201-800
4,6846091,13,767.0,1044.0,2017-12-22 07:40:00+00,2017-12-23 06:55:00+00,4680,2017-10-14 08:05:53.253+00,"{433,433}",{13},...,1395.0,767,48.727660,2.264629,both,1044,43.583932,3.860233,571.747680,201-800

In [109]:
rename_col_d.loc[300:350,["distance","dis_label"]] #Vérification des labels

       distance dis_label
300  104.693861     0-200
301  104.693861     0-200
302  104.693861     0-200
303  104.693861     0-200
304  104.693861     0-200
305  104.693861     0-200
306  104.693861     0-200
307  104.693861     0-200
308  104.693861     0-200
309  104.693861     0-200
310  104.693861     0-200
311  104.693861     0-200
312  104.693861     0-200
313  104.693861     0-200
314  104.693861     0-200
315  104.693861     0-200
316   30.272157     0-200
317   30.272157     0-200
318   30.272157     0-200
319   30.272157     0-200
320   30.272157     0-200
321   30.272157     0-200
322   30.272157     0-200
323   30.272157     0-200
324   30.272157     0-200
325   30.272157     0-200
326   30.272157     0-200
327   30.272157     0-200
328   30.272157     0-200
329  298.586206   201-800
330  298.586206   201-800
331  298.586206   201-800
332  298.586206   201-800
333  298.586206   201-800
334  298.586206   201-800
335  298.586206   201-800
336  298.586206   201-800
337  298.586206   201-800
338  298.586206   201-800
339  298.586206   201-800
340  298.586206   201-800
341  298.586206   201-800
342  298.586206   201-800
343  298.586206   201-800
344  298.586206   201-800
345  298.586206   201-800
346  298.586206   201-800
347  298.586206   201-800
348  298.586206   201-800
349  298.586206   201-800
350  298.586206   201-800

## La moyenne des prix et durées selon les labels des distances

In [110]:
stat = rename_col_d.pivot_table(index = 'dis_label', values = ["duration","price_in_cents"], aggfunc = np.mean)

print stat

              duration  price_in_cents
dis_label
0-200       501.038159     4820.113075
201-800     707.383043     7295.053995
801-2000   1284.651861     9428.679472

## La moyenne des prix et durées selon le moyen de transport et les labels de distances

In [111]:
providers.head()

,id,company_id,provider_id,name,fullname,has_wifi,has_plug,has_adjustable_seats,has_bicycle,transport_type
0,9,1,NaN,ouibus,Ouibus,True,True,True,False,bus
1,10,2,NaN,deinbus,Deinbus.de,False,False,False,False,bus
2,11,3,NaN,infobus,Infobus,False,False,False,False,bus
3,12,4,NaN,studentAgency,Student Agency,False,False,False,False,bus
4,13,5,NaN,flixbus,Flixbus,True,False,False,False,bus

In [112]:
tickets.head(1)

,id,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,o_city,d_city,duration
0,6795025,8385,NaN,NaN,2017-10-13 14:00:00+00,2017-10-13 20:10:00+00,4550,2017-10-01 00:13:31.327+00,NaN,NaN,611,542,370.0

In [113]:
comp_id = providers.loc[:,["company_id","transport_type"]]

merg_com = pd.merge(rename_col_d,comp_id,left_on = "company",right_on = "company_id")

merg_com

,id_x,company,o_station,d_station,departure_ts,arrival_ts,price_in_cents,search_ts,middle_stations,other_companies,...,o_latitude,o_longitude,_merge,id,d_latitude,d_longitude,distance,dis_label,company_id,transport_type
0,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
1,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
2,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
3,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
4,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
5,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
6,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
7,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
8,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
9,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
10,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
11,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
12,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
13,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
14,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
15,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
16,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
17,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
18,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
19,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
20,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
21,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
22,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
23,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
24,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
25,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
26,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
27,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
28,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
29,6795026,9,63.0,1044.0,2017-10-13 13:05:00+00,2017-10-14 06:55:00+00,1450,2017-10-01 00:13:35.773+00,"{149,418}",{13},...,47.896911,1.854277,both,1044,43.583932,3.860233,479.371389,201-800,9,bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715634,6799276,10,39.0,3.0,2017-10-05 13:15:00+00,2017-10-05 20:45:00+00,2400,2017-10-02 17:33:20.758+00,"{396,396}",{9},...,51.218454,4.420759,both,3,49.009900,2.559310,245.660201,201-800,10,train
715635,6799276,10,39.0,3.0,2017-10-05 13:15:00+00,2017-10-05 20:45:00+00,2400,2017-10-02 17:33:20.758+00,"{396,396}",{9},...,51.218454,4.420759,both,3,49.009900,2.559310,245.660201,201-800,10,train
715636,6799276,10,39.0,3.0,2017-10-05 13:15:00+00,2017-10-05 20:45:00+00,2400,2017-10-02 17:33:20.758+00,"{396,396}",{9},...,51.218454,4.420759,both,3,49.009900,2.559310,245.660201,201-800,10,train
715637,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715638,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715639,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715640,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715641,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715642,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,bus
715643,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715644,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715645,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715646,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715647,6799278,10,39.0,10144.0,2017-10-05 13:15:00+00,2017-10-05 19:00:00+00,2600,2017-10-02 17:33:20.759+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715648,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715649,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715650,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715651,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715652,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715653,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,bus
715654,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715655,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715656,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715657,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715658,6799317,10,39.0,10144.0,2017-10-04 13:15:00+00,2017-10-04 19:00:00+00,2600,2017-10-02 17:33:32.62+00,"{396,396}",{9},...,51.218454,4.420759,both,10144,48.946448,2.365162,252.716606,201-800,10,train
715659,6853589,12,283.0,523.0,2017-12-22 18:30:00+00,2017-12-23 04:25:00+00,4590,2017-10-16 10:12:35.105+00,"{330,330}",{13},...,50.860760,4.359575,both,523,48.574241,7.754260,254.314826,201-800,12,carpooling
715660,6856599,12,283.0,523.0,2017-11-03 18:30:00+00,2017-11-04 03:55:00+00,3300,2017-10-16 20:12:19.537+00,"{330,330}",{13},...,50.860760,4.359575,both,523,48.574241,7.754260,254.314826,201-800,12,carpooling
715661,6852979,12,523.0,86.0,2017-10-30 21:30:00+00,2017-10-31 11:45:00+00,1990,2017-10-16 08:10:00.399+00,"{458,458}",{13},...,48.574241,7.754260,both,86,47.628642,6.856852,105.143321,0-200,12,carpooling
715662,6848396,12,283.0,1593.0,2017-10-27 06:00:00+00,2017-10-27 17:20:00+00,4777,2017-10-14 19:01:07.915+00,"{561,561}",{71},...,50.860760,4.359575,both,1593,51.503548,-3.197338,71.511326,0-200,12,carpooling
715663,6848395,12,283.0,1595.0,2017-10-27 06:00:00+00,2017-10-27 17:45:00+00,4687,2017-10-14 19:01:07.915+00,"{561,8813}",{71},...,50.860760,4.359575,both,1595,51.489066,-3.179811,69.900080,0-200,12,carpooling

In [89]:
stato = merg_com.pivot_table(index = ['transport_type',"dis_label"], values = ["duration","price_in_cents"], aggfunc = np.mean)

stato

                             duration  price_in_cents
transport_type dis_label
bus            0-200       700.952325     2396.409556
               201-800     899.437450     3644.987162
               801-2000   1363.333333     6014.606061
carpooling     0-200       746.666667     3818.000000
               201-800     580.000000     3945.000000
train          0-200      1140.000000     3596.666667
               201-800     573.333333     3100.000000